<!doctype html>
<html>
<head>
    <title>Practice Data Structures</title>
    <link rel="stylesheet" href="../../jsviz.css"/>
    <link rel="stylesheet" href="practice.css"/>
</head>
<body ng-app="jsVizPractice" ng-controller="main">
    <label ng-repeat="set in sets" ng-cloak>
        <input type="checkbox" ng-model="set.included"/> {{set.id}}
    </label>
    <section class="workspace">
        <h2>Workspace</h2>
        <jsviz variables="variables"/>
    </section>
    <section class="goal">
        <h2>Goal</h2>
        <jsviz variables="goalVariables"/>
    </section>
    <div class="message lightbox ng-cloak" ng-if="isSolved()">
        You got it!<br/><br/>
        <button class="action" ng-click="next()">Next Challenge</button>
        <button class="action" ng-click="reset()">Try it Again</button>
    </div>
    <a href id="instructions-button" ng-click="toggleInstructions()" ng-if="!showInstructions">?</a>
    <div class="instructions lightbox ng-cloak" ng-if="showInstructions">
        <p>
            Open the JavaScript console. Define variables and values to make the
            Workspace on the left match the Goal state on the right. The
            <span class="array">red rectangles</span> are arrays and the
            <span class="object">black rounded boxes</span> are objects.
        </p>
        <p>
            It's okay to have extra variables in the workspace, as long as you
            at least have everything in the goal.
        </p>
        <p>
            goal() - call this function to print out the goal variables to the
                     console.<br/>
            next() - calling this function is the same as clicking the "Next
                     Challenge" button.<br/>
            reset() - call this funciton to start the current practice problem
                      again.
        </p>
        <p class="action-bar">
            <button class="action" ng-click="toggleInstructions()">Dismiss</button>
        </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="../../jsviz.js"></script>
    <script src="practice.js"></script>
</body>
</html>
